build/src/project.vcxproj.user
build/src/project.vcxproj.filters
build/src/project.vcxproj
build/src/project.dir/Debug/vc141.pdb
build/src/project.dir/Debug/project.tlog/project.lastbuildstate
build/src/project.dir/Debug/project.tlog/link.write.1.tlog
build/src/project.dir/Debug/project.tlog/link.read.1.tlog
build/src/project.dir/Debug/project.tlog/link.command.1.tlog
build/src/project.dir/Debug/project.tlog/custombuild.write.1.tlog
build/src/project.dir/Debug/project.tlog/custombuild.read.1.tlog
build/src/project.dir/Debug/project.tlog/custombuild.command.1.tlog
build/src/project.dir/Debug/project.tlog/CL.write.1.tlog
build/src/project.dir/Debug/project.tlog/CL.read.1.tlog
build/src/project.dir/Debug/project.tlog/CL.command.1.tlog
build/src/project.dir/Debug/project.log
build/src/project.dir/Debug/main.obj
build/src/project.dir/Debug/geometryMain.obj
build/src/project.dir/Debug/geometry.obj
build/src/cmake_install.cmake
build/src/INSTALL.vcxproj.filters
build/src/INSTALL.vcxproj
build/src/CMakeFiles/generate.stamp.depend
build/src/CMakeFiles/generate.stamp
build/res/res.vcxproj.filters
build/res/res.vcxproj
build/res/cmake_install.cmake
build/res/INSTALL.vcxproj.filters
build/res/INSTALL.vcxproj
build/res/CMakeFiles/generate.stamp.depend
build/res/CMakeFiles/generate.stamp
build/ext/stb/stb.vcxproj.filters
build/ext/stb/stb.vcxproj
build/ext/stb/stb.dir/Debug/stb.tlog/stb.lastbuildstate
build/ext/stb/stb.dir/Debug/stb.tlog/custombuild.write.1.tlog
build/ext/stb/stb.dir/Debug/stb.tlog/custombuild.read.1.tlog
build/ext/stb/stb.dir/Debug/stb.tlog/custombuild.command.1.tlog
build/ext/stb/stb.dir/Debug/stb.tlog/Lib.command.1.tlog
build/ext/stb/stb.dir/Debug/stb.tlog/Lib-link.write.1.tlog
build/ext/stb/stb.dir/Debug/stb.tlog/Lib-link.read.1.tlog
build/ext/stb/stb.dir/Debug/stb.tlog/CL.write.1.tlog
build/ext/stb/stb.dir/Debug/stb.tlog/CL.read.1.tlog
build/ext/stb/stb.dir/Debug/stb.tlog/CL.command.1.tlog
build/ext/stb/stb.dir/Debug/stb.pdb
build/ext/stb/stb.dir/Debug/stb.obj
build/ext/stb/cmake_install.cmake
build/ext/stb/INSTALL.vcxproj.filters
build/ext/stb/INSTALL.vcxproj
build/ext/stb/CMakeFiles/generate.stamp.depend
build/ext/stb/CMakeFiles/generate.stamp
build/ext/stb.dir/Debug/stb.log
build/ext/glfw/uninstall.vcxproj.filters
build/ext/glfw/uninstall.vcxproj
build/ext/glfw/src/glfw_config.h
build/ext/glfw/src/glfw3ConfigVersion.cmake
build/ext/glfw/src/glfw3Config.cmake
build/ext/glfw/src/glfw3.pc
build/ext/glfw/src/glfw.vcxproj.filters
build/ext/glfw/src/glfw.vcxproj
build/ext/glfw/src/glfw.dir/Debug/winmm_joystick.obj
build/ext/glfw/src/glfw.dir/Debug/window.obj
build/ext/glfw/src/glfw.dir/Debug/win32_window.obj
build/ext/glfw/src/glfw.dir/Debug/win32_tls.obj
build/ext/glfw/src/glfw.dir/Debug/win32_time.obj
build/ext/glfw/src/glfw.dir/Debug/win32_monitor.obj
build/ext/glfw/src/glfw.dir/Debug/win32_init.obj
build/ext/glfw/src/glfw.dir/Debug/wgl_context.obj
build/ext/glfw/src/glfw.dir/Debug/monitor.obj
build/ext/glfw/src/glfw.dir/Debug/input.obj
build/ext/glfw/src/glfw.dir/Debug/init.obj
build/ext/glfw/src/glfw.dir/Debug/glfw.tlog/glfw.lastbuildstate
build/ext/glfw/src/glfw.dir/Debug/glfw.tlog/custombuild.write.1.tlog
build/ext/glfw/src/glfw.dir/Debug/glfw.tlog/custombuild.read.1.tlog
build/ext/glfw/src/glfw.dir/Debug/glfw.tlog/custombuild.command.1.tlog
build/ext/glfw/src/glfw.dir/Debug/glfw.tlog/Lib.command.1.tlog
build/ext/glfw/src/glfw.dir/Debug/glfw.tlog/Lib-link.write.1.tlog
build/ext/glfw/src/glfw.dir/Debug/glfw.tlog/Lib-link.read.1.tlog
build/ext/glfw/src/glfw.dir/Debug/glfw.tlog/CL.write.1.tlog
build/ext/glfw/src/glfw.dir/Debug/glfw.tlog/CL.read.1.tlog
build/ext/glfw/src/glfw.dir/Debug/glfw.tlog/CL.command.1.tlog
build/ext/glfw/src/glfw.dir/Debug/glfw.pdb
build/ext/glfw/src/glfw.dir/Debug/context.obj
build/ext/glfw/src/cmake_install.cmake
build/ext/glfw/src/INSTALL.vcxproj.filters
build/ext/glfw/src/INSTALL.vcxproj
build/ext/glfw/src/CMakeFiles/generate.stamp.depend
build/ext/glfw/src/CMakeFiles/generate.stamp
build/ext/glfw/glfw.dir/Debug/glfw.log
build/ext/glfw/docs/Doxyfile
build/ext/glfw/cmake_uninstall.cmake
build/ext/glfw/cmake_install.cmake
build/ext/glfw/INSTALL.vcxproj.filters
build/ext/glfw/INSTALL.vcxproj
build/ext/glfw/GLFW.sln
build/ext/glfw/CMakeFiles/generate.stamp.depend
build/ext/glfw/CMakeFiles/generate.stamp
build/ext/glfw/CMakeFiles/Export/lib/cmake/glfw/glfwTargets.cmake
build/ext/glfw/CMakeFiles/Export/lib/cmake/glfw/glfwTargets-relwithdebinfo.cmake
build/ext/glfw/CMakeFiles/Export/lib/cmake/glfw/glfwTargets-release.cmake
build/ext/glfw/CMakeFiles/Export/lib/cmake/glfw/glfwTargets-minsizerel.cmake
build/ext/glfw/CMakeFiles/Export/lib/cmake/glfw/glfwTargets-debug.cmake
build/ext/glfw/ALL_BUILD.vcxproj.filters
build/ext/glfw/ALL_BUILD.vcxproj
build/ext/glew.dir/Debug/glew.log
build/ext/glew-1.10.0/glew.vcxproj.filters
build/ext/glew-1.10.0/glew.vcxproj
build/ext/glew-1.10.0/glew.dir/Debug/glew.tlog/glew.lastbuildstate
build/ext/glew-1.10.0/glew.dir/Debug/glew.tlog/custombuild.write.1.tlog
build/ext/glew-1.10.0/glew.dir/Debug/glew.tlog/custombuild.read.1.tlog
build/ext/glew-1.10.0/glew.dir/Debug/glew.tlog/custombuild.command.1.tlog
build/ext/glew-1.10.0/glew.dir/Debug/glew.tlog/Lib.command.1.tlog
build/ext/glew-1.10.0/glew.dir/Debug/glew.tlog/Lib-link.write.1.tlog
build/ext/glew-1.10.0/glew.dir/Debug/glew.tlog/Lib-link.read.1.tlog
build/ext/glew-1.10.0/glew.dir/Debug/glew.tlog/CL.write.1.tlog
build/ext/glew-1.10.0/glew.dir/Debug/glew.tlog/CL.read.1.tlog
build/ext/glew-1.10.0/glew.dir/Debug/glew.tlog/CL.command.1.tlog
build/ext/glew-1.10.0/glew.dir/Debug/glew.pdb
build/ext/glew-1.10.0/glew.dir/Debug/glew.obj
build/ext/glew-1.10.0/cmake_install.cmake
build/ext/glew-1.10.0/INSTALL.vcxproj.filters
build/ext/glew-1.10.0/INSTALL.vcxproj
build/ext/glew-1.10.0/GLEW.sln
build/ext/glew-1.10.0/CMakeFiles/generate.stamp.depend
build/ext/glew-1.10.0/CMakeFiles/generate.stamp
build/ext/glew-1.10.0/ALL_BUILD.vcxproj.filters
build/ext/glew-1.10.0/ALL_BUILD.vcxproj
build/cmake_install.cmake
build/bin/Debug/stb.pdb
build/bin/Debug/stb.lib
build/bin/Debug/project.pdb
build/bin/Debug/project.ilk
build/bin/Debug/project.exe
build/bin/Debug/glfw3.lib
build/bin/Debug/glew.pdb
build/bin/Debug/glew.lib
build/ZERO_CHECK.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/INSTALL.vcxproj.filters
build/INSTALL.vcxproj
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/f3870918cdf8ac3b65d23f3ee98ff90d/generate.stamp.rule
build/CMakeFiles/f3870918cdf8ac3b65d23f3ee98ff90d/INSTALL_force.rule
build/CMakeFiles/f1ae4854fda3bf1a41d2387ff58d54ec/INSTALL_force.rule
build/CMakeFiles/e6118dd2e062dd123528fb3cd874048d/uninstall.rule
build/CMakeFiles/e6118dd2e062dd123528fb3cd874048d/INSTALL_force.rule
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/b13ee7e634c4448b17a2a74305f4ba84/INSTALL_force.rule
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeError.log
build/CMakeFiles/5aedc5df87462cd0e0e640abd9bcbd63/INSTALL_force.rule
build/CMakeFiles/3.7.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.7.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.7.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.7.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.write.7.tlog
build/CMakeFiles/3.7.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.write.10.tlog
build/CMakeFiles/3.7.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.read.7.tlog
build/CMakeFiles/3.7.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.read.19.tlog
build/CMakeFiles/3.7.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.read.10.tlog
build/CMakeFiles/3.7.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.delete.7.tlog
build/CMakeFiles/3.7.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.7.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.7.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.7.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.7.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.7.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.7.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.7.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.7.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.7.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.7.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.7.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.7.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.7.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.7.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.7.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.7.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.7.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.7.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.7.2/CMakeSystem.cmake
build/CMakeFiles/3.7.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.7.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.7.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.7.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.7.2/CMakeCCompiler.cmake
build/CMakeFiles/1e2eef92cb702a3d440e38a47e82963f/INSTALL_force.rule
build/CMakeFiles/06d07c91f1a5375816d0604dfeb99b7a/INSTALL_force.rule
build/CMakeCache.txt
build/CGRA_PROJECT_project.sln
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj
build/.vs/CGRA_PROJECT_project/v15/ipch/AutoPCH/PROJECT-35eaee9f/MAIN-b2d543b7/MAIN.ipch
build/.vs/CGRA_PROJECT_project/v15/ipch/AutoPCH/PROJECT-35eaee9f/GEOMETRYMAIN-93159a03/GEOMETRYMAIN.ipch
build/.vs/CGRA_PROJECT_project/v15/ipch/AutoPCH/PROJECT-35eaee9f/GEOMETRY-ce1f999e/GEOMETRY.ipch
build/.vs/CGRA_PROJECT_project/v15/Solution.VC.db-wal
build/.vs/CGRA_PROJECT_project/v15/Solution.VC.db-shm
build/.vs/CGRA_PROJECT_project/v15/Solution.VC.db
build/.vs/CGRA_PROJECT_project/v15/Browse.VC.db
build/.vs/CGRA_PROJECT_project/v15/.suo
Win32/Debug/ZERO_CHECK/ZERO_CHECK.log
